html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}

div#page {
    padding: 4%;
}

h1 {
    color: white;
}

img#sphere {
    float: right;
    width: 25%;
    padding: 2%;
}

div#page p {
    color: gray;
}

@media only screen and (max-width: 1280px) {
    [title] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    [title]:focus::after {
      content: attr(title);
      position: absolute;
      top: 90%;
      color: #000;
      background-color: #fff;
      border: 1px solid;
      padding: 3px;
      width: fit-content;
    }
  }